body {
    @apply .font-light .text-grey-dark .leading-normal;
}

p {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: config('colors.red');

    &.animate-anchor {
        transition: transform .3s ease-out;

        &:hover {
            transform: translate(0, -5px);
        }
    }
}

svg {
    vertical-align: middle;

    &.rs-icon-linkedin {
        position: relative;
    }
}

.rs-about-icon {
    @apply .flex .items-center .justify-center;
    height: 9rem;
}