@font-face {
    font-family: 'avenir-cbi';
    src: url('/fonts/avenirnextpro-bci.eot'); /* IE9 Compat Modes */
    src: url('/fonts/avenirnextpro-bci.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/fonts/avenirnextpro-bci.woff') format('woff'), /* Modern Browsers */
        url('/fonts/avenirnextpro-bci.ttf')  format('truetype'); /* Safari, Android, iOS */
}
